In [1]:
## import modules
import os
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

from flask import Flask, jsonify, render_template, request, redirect
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.engine.url import URL

from flaskext.mysql import MySQL
import pymysql

In [2]:
# connection string

db_url = {
   'database': 'relationship_data_db',
   'drivername': 'mysql',
   'username': 'root',
   'password': 'Outlaw1!',
   'host': '127.0.0.1',
   'query': {'charset': 'utf8'},  # the key-point setting
}

connection_string = URL(**db_url)
#engine = create_engine(URL(**db_url))

print(connection_string)

mysql://root:Outlaw1!@127.0.0.1/relationship_data_db?charset=utf8

In [3]:
app = Flask(__name__)

In [4]:
app.config['SQLALCHEMY_DATABASE_URI'] = connection_string
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

In [5]:
db = SQLAlchemy(app)

In [6]:
engine = create_engine(connection_string)

inspector = inspect(engine)



columns = inspector.get_columns('final_employment_df')

for column in columns:
    print(column['name'], column['type'])

index BIGINT(20)
CASEID_NEW BIGINT(20)
age_when_met DOUBLE
Q21A_Year TEXT
Q21D_Year TEXT
ppmarit TEXT
ppeduc TEXT
ppethm TEXT
time_till_marriage BIGINT(20)
marriage_age DOUBLE

In [7]:
class final_employment_df(db.Model):
    __tablename__ = 'final_employment_df'
    id = db.Column('index', primary_key=True)
    case = db.Column('CASEID_NEW', db.Integer)
    age_when_met = db.Column('age_when_met', db.Integer)
    year_when_met = db.Column('Q21A_Year', db.Integer)
    year_when_married = db.Column('Q21D_Year', db.Integer)
    marital_status = db.Column('ppmarit', db.String)
    education = db.Column('ppeduc', db.String)
    ethnicity = db.Column('ppethm', db.String)
    time_till_marriage = db.Column('time_till_marriage', db.Integer)
    age_when_married = db.Column('marriage_age', db.Integer)

In [8]:
respondents = final_employment_df.query.all()

In [9]:
index = []
case_id = []
age_when_met = []
year_when_met = []
year_when_married = []
marital_status = []
education = []
ethnicity = []
time_till_marriage = []
age_when_married = []

for person in respondents:
    index.append(person.id)
    case_id.append(person.case)
    age_when_met.append(person.age_when_met)
    year_when_met.append(person.year_when_met)
    year_when_married.append(person.year_when_married)
    marital_status.append(person.marital_status)
    education.append(person.education)
    ethnicity.append(person.ethnicity)
    time_till_marriage.append(person.time_till_marriage)
    age_when_married.append(person.age_when_met)

In [10]:
df = pd.DataFrame(list(zip(index, case_id, age_when_met, year_when_met, 
                          year_when_married, marital_status, education, 
                          ethnicity, time_till_marriage, age_when_married)), 
                  columns =['index', 'case_id', 'age_when_met', 'year_when_met',
                           'year_when_married', 'marital_status', 'education',
                           'ethnicity', 'time_till_marriage', 'age_when_married'])

In [11]:
df.head()

,index,case_id,age_when_met,year_when_met,year_when_married,marital_status,education,ethnicity,time_till_marriage,age_when_married
0,1,2019003,21.0,1983,1996,Married,Masters degree,"White, Non-Hispanic",13,21.0
1,2,2145527,36.0,2006,2008,Married,Masters degree,"White, Non-Hispanic",2,36.0
2,4,2623465,25.0,1983,1984,Married,Bachelors degree,"White, Non-Hispanic",1,25.0
3,5,2917189,23.0,1981,1982,Married,HIGH SCHOOL GRADUATE - high school DIPLOMA or ...,"White, Non-Hispanic",1,23.0
4,6,2919423,15.0,1966,1969,Married,HIGH SCHOOL GRADUATE - high school DIPLOMA or ...,"White, Non-Hispanic",3,15.0