## Import Dependencies

In [75]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import requests
import os
os.getcwd()

'C:\\Users\\mendi\\Documents\\Bootcamp HW_MLE\\Project-2\\database'


### Extract CSV file into Dataframe

In [76]:
# Relationship Data file

# relationship_data = "../Project-2/relationship_data_file.csv"
relationship_data = "../data/relationship_data_file.csv"
relationship_data_df = pd.read_csv(relationship_data)

relationship_data_df_sample = relationship_data_df.sample(n = 250)
# relationship_data_df_sample.head(200)
# relationship_data_df_sample.count()

# relationship_data_df.dtypes

relationship_data_df_sample[['CASEID_NEW', 'time_from_met_to_rel', 'time_from_rel_to_cohab', 'w6_q21a_year']].head()

      CASEID_NEW  time_from_met_to_rel  time_from_rel_to_cohab  w6_q21a_year
2908     2089133                   NaN                     NaN           NaN
2417     1532255              0.166748                0.250000        1998.0
3221     2027307             18.250000                6.083374        1989.0
2515     2428725              0.000000                0.250000        1999.0
3212     2797851              7.833374                     NaN        1998.0

In [77]:

wide_df = relationship_data_df_sample[['CASEID_NEW','time_from_met_to_rel', 'time_from_rel_to_cohab', 'w6_q21a_year']]
wide_df['time_married_hardcoded'] = -8.25
tall_df = wide_df.dropna().melt(('CASEID_NEW', 'w6_q21a_year'))


tall_df = tall_df.rename(columns={"CASEID_NEW":"pid", "variable":"grp", "value":"duration"})
tall_df .sort_values('pid')#variable')
# tall_df.head()
tall_df
tall_df.set_index("pid", inplace=True)

C:\Users\mendi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### Transform Dataframes

In [66]:
# Create a filtered dataframe from specific columns for relationship data, noted data from different versions of surveys.
# Based on analysis of data it appears data with column prefix w6_ is most relevant

# relationship_data_cols = ["CASEID_NEW", 
#                           "w6_q21a_year", 
#                           "w6_relationship_end_nonmar", 
#                           "w6_breakup_nonmar", 
#                           "w6_relationship_end_mar", 
#                           "w6_who_breakup",
#                           "ppagecat",
#                           "ppagect4",
#                           "ppmarit",
#                           "w6_q19",
#                           "w6_q20",
#                           "w6_q21a_month",
#                           "w6_q21b_month",
#                           "w6_q21c_month",
#                           "w6_q21d_month", 
#                           "w6_q21e_month",
#                           "w6_q21f_month",
#                           "partnership_status",
#                           "w6_relationship_quality",
#                           "ppage",
#                           "w6_q9",
#                           "w6_q17",
#                           "w6_q21b_year",
#                           "w6_q21c_year",
#                           "w6_q21d_year",
#                           "w6_q21e_year",
#                           "w6_q21f_year",
#                           "year_fraction_met",
#                           "year_fraction_relstart",
#                           "age_when_met",
#                           "time_from_met_to_rel",
#                           "year_fraction_first_cohab",
#                           "time_from_rel_to_cohab"]                        
# relat_data_transformed = relationship_data_df[relationship_data_cols].copy()



# # Clean the data by dropping duplicates and setting the index
# # premise_transformed.drop_duplicates("id", inplace=True)
# relat_data_transformed.set_index("CASEID_NEW", inplace=True)

# relat_data_transformed.head()

## Analytics

## Create database connection

In [78]:
# Need to add password to access the database


db_url = {
   'database': 'relationship_data_db',
   'drivername': 'mysql',
   'username': 'root',
   'password': '1Lovemykid$',
   'host': '127.0.0.1',
   'query': {'charset': 'utf8'},  # the key-point setting
}

engine = create_engine(URL(**db_url), encoding='utf8')

In [79]:
tall_df.to_sql(name='relationship_data', con=engine, if_exists='append', index=True)